.DS_Store
.python-version
ch2/col1.txt
ch2/col2.txt
ch2/hightemp.txt
ch2/merge.txt
ch2/q16
ch3/.DS_Store
ch3/jawiki-country.json.gz
ch3/jawiki-uk.txt
ch3/q28.json
ch4/neko.txt
ch4/neko.txt.mecab
ch5/neko.txt.mecab
ch5/neko.txt.cabocha
ch5/corpus.txt
ch5/corpus.out.txt
ch5/q47.txt
ch6/nlp.txt